<div class="container">
  <div class="text-center justify-content-around m-5">
    <div class="m-3"> First Name : <input placeholder="First Name" [(ngModel)]="tourist.firstName"></div>
    <div class="m-3"> Last Name : <input placeholder="Last Name" [(ngModel)]="tourist.lastName"></div>
<!--  </div>-->
<!--  <div class="row-6 justify-content-around m-4">-->
    <div class="m-3"> From Place: <input placeholder="From Place" [(ngModel)]="tourist.fromPlace"></div>
    <div class="m-3"> Noof Days Visit: <input placeholder="Noof Days Visit" [(ngModel)]="tourist.noOfVisitDays"></div>
<!--  </div>-->
<!--  <div class="row-6 justify-content-around m-4">-->
    <div class="m-3" >Gender : &nbsp; &nbsp; &nbsp;
      <input type="radio" value="male" name="gender" [(ngModel)]="tourist.gender"> Male &nbsp;
      <input type="radio" value="female" name="gender" [(ngModel)]="tourist.gender"> Female
    </div>
    <div class="m-3"> Age: <input placeholder="Age" [(ngModel)]="tourist.age"></div>
  </div>
  <div [hidden]="notValid" class="container m-4">
    Enter all the fields <br>
    Note : FirstName should be 15 characters only <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LastName should be 12 characters only <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Age and NooDaysVisit should be Number format <br>
  </div>
  <div [hidden]="buttonClick" class="text-center m-4">
    Tourist Registration is Successfully Completed
  </div>
  <div class="text-center m-4">
    <button class="btn btn-primary m-4" (click)="validateAndPost()" [disabled]="!fieldsFilled()"> Register
    </button>
    <button class="btn btn-primary m-4" (click)="clear()"> Clear
    </button>
  </div>
</div>
