<div>
  <app-header (wantView)="showCorrView($event)"></app-header>
  <div>
    <div *ngIf="view==='Home'">
      <div class="container text-center mt-4">
        <i><b>Welcome to Tourist Registration App</b></i> <br><br>
        <div> Click Register for New </div> <br>
        <div> Click Tourists to view All Tourists </div>
      </div>
    </div>
    <app-view-all  *ngIf="view==='View All'"></app-view-all>
    <app-registration (wantView) = "showCorrView($event)" *ngIf="view==='Register'"></app-registration>
  </div>
  <!--  <app-view-all></app-view-all>-->
</div>
